@font-face {
    font-family: Neuzeit Grotesk;
    src: url(../../assets/NeuzeitSBook.ttf);
}

.logo {
    position: absolute;
    top: 73px;
    left: 280px;
    width: 276px;
    height: 66px;
    border: 2px solid #fff;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    border-top-left-radius: 18px;
    color: white;
    font-size: 35px;
    font-family: Neuzeit Grotesk;
    letter-spacing: 0.1em;
    text-align: center;
    vertical-align: center;
    line-height: 200%;
    background: rgba(255, 255, 255, 0.2)
}