@font-face {
    font-family: Neuzeit Grotesk;
    src: url(../../assets/NeuzeitSBook.ttf);
}

.background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1933px;
    height: 1087px;
    background: transparent url('../../assets/introducaoBackground.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.mobileMarketing {
    position: absolute;
    white-space: nowrap;
    top: 62px;
    left: 1129px;
    width: 148px;
    height: 18px;
    text-align: center;
    font: 18px/26px Neuzeit Grotesk;
    letter-spacing: 0.9px;
    color: #FFFFFF;
    opacity: 1;
}

.mobileMarketing:hover {
    text-decoration: underline;
}

.vantagens {
    position: absolute;
    top: 62px;
    left: 1337px;
    width: 88px;
    height: 18px;
    text-align: center;
    font: 18px/26px Neuzeit Grotesk;
    letter-spacing: 0.9px;
    color: #FFFFFF;
    opacity: 1;
}

.vantagens:hover {
    text-decoration: underline;
}

.recursos {
    position: absolute;
    top: 62px;
    left: 1479px;
    width: 72px;
    height: 18px;
    text-align: center;
    font: 18px/26px Neuzeit Grotesk;
    letter-spacing: 0.9px;
    color: #FFFFFF;
    opacity: 1;
}

.recursos:hover {
    text-decoration: underline;
}

.botaoContato {
    background: transparent;
    border: 1px solid #fff;
    color: white;
    top: 64px;
    position: absolute;
    left: 1610px;
    width: 170px;
    height: 56px;
    text-align: center;
    font-size: 16px;
    border-radius: 50px;
}

.slogan {
    position: absolute;
    top: 250px;
    left: 275px;
    width: 617px;
    height: 187px;
    text-align: left;
    font: Bold 89px/96px Neuzeit Grotesk;
    letter-spacing: 2.8px;
    color: #FFFFFF;
    opacity: 1;
}

.descricao {
    position: absolute;
    top: 542px;
    left: 280px;
    width: 674px;
    height: 91px;
    text-align: left;
    font: 18px/30px Neuzeit Grotesk;
    letter-spacing: 0.49px;
    color: #FFFFFF;
    opacity: 1;
}

.botaoBanner {
    position: absolute;
    top: 716px;
    left: 275px;
    width: 314px;
    height: 52px;
    border: 2px solid #fff;
    border-radius: 60px;
    color: #283258;
    font-size: 18px;
    font-family: Neuzeit Grotesk;
    letter-spacing: 0.08em;
    text-align: center;
    background: white;
}